<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.dashboard.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='CrexLogo.png') }}" type="image/x-icon">
    <title>CREX- Stay Prepared!</title>
</head>
<body>
    <nav>
        <!-- <button id="btn" style="background: none; border:none;"><img src="media/iconmonstr-menu-left-lined-72.png" alt="menu" width="35px"></button> -->
        <button id="btn"><img src="{{ url_for('static', filename='iconmonstr-menu-left-lined-72.png') }}" alt="menu" width="35px"></button>
        <h2 style="margin-left: 20px;"><a href="dashboard.html"> Crex</a></h2>
    </nav>
    <div id="menu">
        <button id="btn1"><img src="{{ url_for('static', filename='iconmonstr-x-mark-thin-240.png') }}" alt="menu" style="width: 25px; margin-left:15px;"/></button>
        <div id="menucontainer">
          <p><a href="profile.html">Your Profile</a></p>
          <hr>
          <p><a href="dashboard.html">Dashboard</a></p>
          <hr>
          <p><a href="stats.html">Global Statistics</a></p>
          <hr>
          <p><a href="govyojna.html">Government Yojna</a></p>
          <hr>
        </div>
      </div>

      <div class="container">
        <!-- <div id="amount">
            <div id="al" class="box1">
                <p class="amtdet" style="font-size: 2em;">₹75000</p>
            </div>
            <div id="ar" class="box1">
                <p class="amtdet" style="font-size: 1.5em;">For 24 months at 7.5%p.a</p>
            </div>
        </div> -->
        <!-- <div id="amount">
            <p class="amtdet">₹75000</p>
        </div> -->
        <div id="data">
            <div id="dl" class="box2">
              <h2 class="tpp">Requests</h2>
              <p style="margin-top: 60px;"><span>Sanjay Mishra</span></p>
              <hr>
              <p> <span style="font-weight: 600;">Piyush Sharma</span><span> </span></p>
              <hr>
              <p> <span>Neha Tomar</span></p>
              <hr>
              <p><span>Raju Shastri</span></p>
              <hr>
              <p>Neeraj Pandit</p>
              <hr>
              <p>Neelu Srivastava</p>
              <hr>
              <p>Suraj Shukla</p>
            </div>
            <div id="dr" class="box2">
              <h2 class="tpp">Active Transactions</h2>
              <p style="margin-top: 60px;">Agrim Chauhans</p>
              <hr>
              <p>Abhinav Saxena</p>
              <hr>
              <p>Ambuj Kulsheshta</p>
              <hr>
              <p>Jyoti Ojha</p>
            </div>
        </div>
      </div>
      <div id="request">
        <button id="requbtn">Request</button>
      </div>
      <div id="requestmoney">
        <button id="closerequ"><img src="{{ url_for('static', filename='iconmonstr-x-mark-thin-240.png') }}" alt="close request popup"></button>
        <form action="/request_confirm" method="post">
          <input type="number" name="aadhar" id="aadhar" placeholder="Enter Aadhar number" required>
          <input type="text" name="fname" id="fname" placeholder="Enter First Name" required>
          <input type="number" name="reqamount" id="reqamount" placeholder="Enter the required amount" required>
          <input id="submit" type="submit" value="Confirm Request">
        </form>
      </div>

      <script>
        const btn = document.getElementById("btn");
        btn.onclick = function () {
          const a = document.getElementById("menu");
          if (a.style.display == "none") {
            a.style.display = "block";
          } else {
            a.style.display = "none";
          }
          console.log("CLICKED!");
        };
        const btn1 = document.getElementById("btn1");
        btn1.onclick = function () {
          const a = document.getElementById("menu");
          if (a.style.display == "none") {
            a.style.display = "block";
          } else {
            a.style.display = "none";
          }
          console.log("CLICKED!");
        };
      </script>
</body>
</html>