<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.dashboard.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='CrexLogo.png') }}" type="image/x-icon">
    <title>CREX- Stay Prepared!</title>
</head>
<body>
    Your request has been confirmed. It has been posted onto the portal. Wait for someone to help you out!
</body>
</html>